<a href="https://colab.research.google.com/github/bugsotim/dataviz2025/blob/main/Dictionary_Function_Loop_Condition_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dictionary

In [ ]:
dict_a = {'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
print(dict_a)

{'abc': 123, 'def': 456, 'ghi': 789}

In [ ]:
dict_a['def']

456

In [ ]:
dict_b = {}

In [ ]:
dict_b ['a'] = 123

In [ ]:
{'a' : 123}

{'a': 123}

## การ add สมาชิกเข้าไปใน dict

In [ ]:
if 'b' not in dict_b :
  dict_b['b'] = 123

In [ ]:
dict_b

{'a': 123, 'b': 123}

HW1 note

In [ ]:
inp = '12:30:15-13:41:07'
inp_list = inp.split('-')
inp_list

['12:30:15', '13:41:07']

# Function

ช่วยให้โค้ดมีประสิทธิภาพมากขึ้น

## Function template
#### ทำหน้าที่รับ input มาประมวณผลออกมาเป็น output
#### f(x) = y

### def คือการกำหนดฟังก์ชัน

```python
    def function_name(_Input_) :
        do_something with _Input_ to get _Output_
        return _Output_
```

เราใช้ เว้นวรรค (indent) เพื่อบอกขอบเขตของโปรแกรม

function มีส่วนสำคัญทั้งหมด 4 ส่วน

1.   บอก python ว่าเราจะเขียนฟังก์ชั่น ชื่ออะไร  ```def function_name():``` (ขาดไม่ได้)
2.   กำหนดตัวแปรที่จะเป็น input  ```_Input_``` (ขาดได้)
3.   ส่วนประมวลผล ```do_something with _Input_ to get _Output_``` (ขาดไม่ได้)
4.   ส่วน output ```return _Output_```(ขาดได้)

#### ตัวอย่างการเขียน normal function

ไม่มี input และ output

In [ ]:
def print_myname():   # ตัวอย่าง function ที่ไม่มีทั้ง input และ output
    print('Thanapong')

In [ ]:
print_myname()

Thanapong

In [ ]:
b = print_myname()

Thanapong

In [ ]:
b

In [ ]:
def print_name(surname,ID,name):        # ตัวอย่าง function ที่ มี input หลายตัว กับ output 1 ตัว
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    return st

In [ ]:
print_name('อินทระ','66xxxxxx','ธนพงศ์')

'ชื่อ ธนพงศ์ นามสกุล อินทระ รหัส 66xxxxxx'

In [ ]:
print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

ฟังก์ชั่นไม่จำเป็นต้องมี output

In [ ]:
def print_name2(surname,ID,name):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print(st)

In [ ]:
print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

### ข้อแตกต่างระหว่าง function ที่มีและไม่มี output

In [ ]:
out_printname1 = print_name(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2') # มี output
print(out_printname1)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2

In [ ]:
out_printname1

'ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2'

In [ ]:
out_printname2 = print_name2(name='กาญจนา',surname='ประสาคุณ',ID='603021855-2')  # ไม่มี output
print(out_printname2)

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
None

In [ ]:
out_printname2

ฟังก์ชั่นไม่จำเป็นต้องมี input

In [ ]:
def Pi():
    return 3.14159265359

In [ ]:
Pi()*(2**2) # หาพื้นที่ของวงกลมที่มีรัศมีเท่ากับ Pi * r^2

12.56637061436

## เราสามารถกำหนดค่า default ให้กับ input ของฟังก์ชั่นได้

input ของ function ใน python มีสองแบบ input ที่จำเป็นต้องใส่ กับ input ที่ไม่จำเป็นต้องใส่ (มีค่า default)

เราต้องเรียง input ที่จำเป็นต้องใส่ขึ้นก่อน

In [ ]:
def print_2lines_default(name,surname,ID,grade='F'):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    print (st)
    st2=f'เกรดวิชา Data Viz >>> {grade}'
    print(st2)

In [ ]:
print_2lines_default('รุ่งแสง','กองสุข','663020292-1')

ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020292-1
เกรดวิชา Data Viz >>> F

In [ ]:
print_2lines_default('รุ่งแสง','กองสุข','663020292-1','A')

ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020292-1
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('รุ่งแสง','กองสุข','663020292-1',grade = 'A')

ชื่อ รุ่งแสง นามสกุล กองสุข รหัส 663020292-1
เกรดวิชา Data Viz >>> A

In [ ]:
print_2lines_default('รุ่งแสง','กองสุข'')

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-27-1098066623.py, line 1)

# Quiz3
เขียน function ที่รับ input 1 ตัว ตาม format hh1:mm1:ss1 - hh2:mm2:ss2 และคำนวณหา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 โดยยังไม่ต้องสนใจว่า time2 สามารถข้ามไปอีกวันได้

เขียนฟังก์ชันคำนวณวินาทีจากเวลาที่ใส่เข้ามา

In [ ]:
# prompt: เขียน function คำนวณวินาทีจาก เวลาที่ใส่เข้ามา
# 1) 12:30:15, Wenesday - 13:41:07, Thursday
# 2) 12:53:15, Monday - 00:59:25, Tuesday
# 3) 16:06:09, Sunday - 11:11:11, Tuesday

import datetime

def time_difference_in_seconds(time_str):
    """
    Calculates the time difference in seconds between two time strings
    in the format "hh:mm:ss - hh:mm:ss".

    Args:
        time_str: A string representing the two times separated by ' - '.

    Returns:
        The time difference in seconds.
    """
    time1_str, time2_str = time_str.split(' - ')
    time1 = datetime.datetime.strptime(time1_str, '%H:%M:%S')
    time2 = datetime.datetime.strptime(time2_str, '%H:%M:%S')

    # Handle cases where time2 is on the next day
    if time2 < time1:
        time2 = time2 + datetime.timedelta(days=1)

    time_difference = time2 - time1
    return time_difference.total_seconds()

# Example usage:
print(time_difference_in_seconds('12:30:15 - 13:41:07'))
print(time_difference_in_seconds('12:53:15 - 00:59:25'))
print(time_difference_in_seconds('16:06:09 - 11:11:11'))

4252.0
43570.0
68702.0

In [ ]:
def cal_dif_secs(timeinput):
    timelist = timeinput.split('-')
    time1 = timelist[0].split(':')
    time2 = timelist[1].split(':')
    time1_sec = int(time1[0])*3600 + int(time1[1])*60 + int(time1[2])
    time2_sec = int(time2[0])*3600 + int(time2[1])*60 + int(time2[2])
    dif_sec = time2_sec - time1_sec
    return dif_sec

In [ ]:
cal_dif_secs('12:30:15-13:41:07')

4252

## Quiz 6เขียน function ของHW 2  มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องเลยหรือกรอกแค่ 1 ตัว

In [ ]:
# prompt: เขียน function จากโจทย์ต่อไปนี้ โดยให้มีการใช้ค่า default ของ input โดยถ้าวันที่กรอกเป็นวันเดียวกันให้ไม่ต้องเลยหรือกรอกแค่ 1 ตัว
# 1) 12:30:15, Wenesday - 13:41:07, Thursday
# 2) 12:53:15, Monday - 00:59:25, Tuesday
# 3) 16:06:09, Sunday - 11:11:11, Tuesday

def calculate_duration(start_time_str, start_day_str, end_time_str, end_day_str=None):
    """
    Calculates the duration between two points in time given the time and day.

    Args:
        start_time_str: The start time string in 'HH:MM:SS' format.
        start_day_str: The start day string (e.g., 'Monday').
        end_time_str: The end time string in 'HH:MM:SS' format.
        end_day_str: The end day string (e.g., 'Tuesday'). Defaults to the same as start_day_str.

    Returns:
        The duration as a timedelta object.
    """
    day_mapping = {
        'monday': 0, 'tuesday': 1, 'wednesday': 2, 'thursday': 3,
        'friday': 4, 'saturday': 5, 'sunday': 6
    }

    start_time = datetime.datetime.strptime(start_time_str, '%H:%M:%S').time()
    end_time = datetime.datetime.strptime(end_time_str, '%H:%M:%S').time()

    start_day = day_mapping[start_day_str.lower()]
    end_day = day_mapping[end_day_str.lower()] if end_day_str else start_day

    # Create datetime objects (date doesn't matter, only the difference in days)
    start_datetime = datetime.datetime.combine(datetime.date.today() + datetime.timedelta(days=start_day), start_time)
    end_datetime = datetime.datetime.combine(datetime.date.today() + datetime.timedelta(days=end_day), end_time)

    # Handle cases where the end time is on the next week or later within the same day difference
    if end_datetime < start_datetime:
         end_datetime += datetime.timedelta(days=7 * ((start_datetime - end_datetime).days // 7 + 1))


    return end_datetime - start_datetime

# Example Usage:
print(calculate_duration('12:30:15', 'Wednesday', '13:41:07', 'Thursday'))
print(calculate_duration('12:53:15', 'Monday', '00:59:25', 'Tuesday'))
print(calculate_duration('16:06:09', 'Sunday', '11:11:11', 'Tuesday'))
print(calculate_duration('10:00:00', 'Monday', '11:00:00')) # Same day, default end_day
print(calculate_duration('23:00:00', 'Sunday', '01:00:00', 'Monday')) # Overnight

NameError: name 'datetime' is not defined

# Quiz3.5

รับ input 2 ตัว โดยตั้งค่า default time1 เป็น 00:00:00

## HW2

วนลูป หา ช่วงเวลาเป็นวินาที ที่ห่างกันระหว่า time1 และ time2 ต่อไปนี้


1. 18:09:10 - 18:25:10
2. 13:38:39 - 23:54:39
3. 16:49:58 - 18:05:58
4. 21:49:10 - 22:24:10
5. 08:52:21 - 09:25:21
6. 06:56:26 - 07:49:26
7. 12:08:05 - 12:43:05
8. 01:48:38 - 07:18:38
9. 08:51:21 - 10:17:21
10. 17:05:17 - 18:09:17

#inspect existing function

- https://www.w3schools.com/python/ref_func_print.asp

- https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier

In [ ]:
print('abc','def')

abc def

In [ ]:
print('abc','def',sep='+')

abc+def

# LOOP การวนซ้ำ

for เป็นคำที่ใช้บอก python ว่าเรากำลังเขียน loop
โดย for จะวนดึงสมาชิกจาก ```listA``` มาทำ process ```do_something```

```python
    for each_member in listA :
        do_something
```

#### คำสั่ง for เป็นคำสั่งวนซ้ำที่ใช้ควบคุมการทำงานซ้ำๆ ในจำนวนรอบที่แน่นอน

In [ ]:
for i in [1,2,3] : # list  คือเลข 123
    o = i**2
    print (f'this member = {i} after process = {o}')

this member = 1 after process = 1
this member = 2 after process = 4
this member = 3 after process = 9

#### ตัวอย่างการใช้คำสั่ง for ในการวนซ้ำค่าของ i เมื่อ i คือ 'Thanapong' และคำสั่ง print(f'{i} -> /') เพื่อกำหนดให้ผลลัพธ์แสดงสัญลักษณ์ -> /  จากนั้นเพิ่มคำสั่ง print(' ') อีกครั้งเพื่อให้ผลลัพธ์มีการเว้นวรรค¶

In [ ]:
for i in 'Thanapong':
    print(i,end = '->/\n ' )

T->/
 h->/
 a->/
 n->/
 a->/
 p->/
 o->/
 n->/
 g->/

In [ ]:
for i in 'Thanapong':
    print(f'{i} -> / ' ,end = '') #สั่งให้ print แบบ ไม่เว้นบรรทัด

T -> / h -> / a -> / n -> / a -> / p -> / o -> / n -> / g -> /

## สร้าง list ตัวเลขแบบอัตโนมัติ  range()

In [ ]:
range5_output = range(5)
print(list(range5_output))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(100):
    print('งง',end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

In [ ]:
list(range(1,11)) #เริ่มต้นเป็นวงทึบ จบเป็นวงกลมโปร่ง เหมือน list slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(-3,20,4))

[-3, 1, 5, 9, 13, 17]

## กรณีอยากวนลูปทั้ังสมาชิกและลำดับ

In [ ]:
index = 0
for i in 'Thhanapong' :
    print (f'สมาชิกคือ {i}เป็นลำดับที่ {index}')
    index += 1

สมาชิกคือ Tเป็นลำดับที่ 0
สมาชิกคือ hเป็นลำดับที่ 1
สมาชิกคือ hเป็นลำดับที่ 2
สมาชิกคือ aเป็นลำดับที่ 3
สมาชิกคือ nเป็นลำดับที่ 4
สมาชิกคือ aเป็นลำดับที่ 5
สมาชิกคือ pเป็นลำดับที่ 6
สมาชิกคือ oเป็นลำดับที่ 7
สมาชิกคือ nเป็นลำดับที่ 8
สมาชิกคือ gเป็นลำดับที่ 9

In [ ]:
for index,i in enumerate('Thhanapong') :
    print (f'สมาชิกคือ {i}เป็นลำดับที่ {index}')

สมาชิกคือ Tเป็นลำดับที่ 0
สมาชิกคือ hเป็นลำดับที่ 1
สมาชิกคือ hเป็นลำดับที่ 2
สมาชิกคือ aเป็นลำดับที่ 3
สมาชิกคือ nเป็นลำดับที่ 4
สมาชิกคือ aเป็นลำดับที่ 5
สมาชิกคือ pเป็นลำดับที่ 6
สมาชิกคือ oเป็นลำดับที่ 7
สมาชิกคือ nเป็นลำดับที่ 8
สมาชิกคือ gเป็นลำดับที่ 9

### loop in loop
#### สามารถใช้ for loop ซ้อนกันสองรอบได้¶

In [ ]:
for name1 in  range(2,5): #(2, 3, 4)
    print(f'now name1 = {name1}')
    for name2 in  range(1,13):
        print('  ', name1,' x ',name2,' = ',name1*name2)
    print('the inner loop is end')

now name1 = 2
   2  x  1  =  2
   2  x  2  =  4
   2  x  3  =  6
   2  x  4  =  8
   2  x  5  =  10
   2  x  6  =  12
   2  x  7  =  14
   2  x  8  =  16
   2  x  9  =  18
   2  x  10  =  20
   2  x  11  =  22
   2  x  12  =  24
the inner loop is end
now name1 = 3
   3  x  1  =  3
   3  x  2  =  6
   3  x  3  =  9
   3  x  4  =  12
   3  x  5  =  15
   3  x  6  =  18
   3  x  7  =  21
   3  x  8  =  24
   3  x  9  =  27
   3  x  10  =  30
   3  x  11  =  33
   3  x  12  =  36
the inner loop is end
now name1 = 4
   4  x  1  =  4
   4  x  2  =  8
   4  x  3  =  12
   4  x  4  =  16
   4  x  5  =  20
   4  x  6  =  24
   4  x  7  =  28
   4  x  8  =  32
   4  x  9  =  36
   4  x  10  =  40
   4  x  11  =  44
   4  x  12  =  48
the inner loop is end

## Quiz 7  วนลูปแสดงค่าตัวเลขออกมาเป็นสามเหลี่ยม ตามตัวอย่างนี้ 1 2 4 3 6 9 4 8 12 16 5 10 15 20 25

In [ ]:
# prompt: เขียนโค้ดที่สร้างตัวเลข1 2 4 3 6 9 4 8 12 16 5 10 15 20 25เป็นสามเหลี่ยม

def print_triangle(numbers):
    """
    Prints a list of numbers in a triangular pattern.
    """
    row = 1
    index = 0
    while index < len(numbers):
        for _ in range(row):
            if index < len(numbers):
                print(numbers[index], end=" ")
                index += 1
        print() # New line after each row
        row += 1

numbers = [1, 2, 4, 3, 6, 9, 4, 8, 12, 16, 5, 10, 15, 20, 25]
print_triangle(numbers)

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

### loop in function
#### การวนลูปในฟังก์ชั่น¶

In [ ]:
def print_feelings(I,friendS,feeling = 'คิดถึง'):
    for friend in friendS:
        print(f'{I} {feeling} {friend}')

In [ ]:
list_friends = ['คุณหนูเบียร์','พ่อใหญ่เฟิร์ส','อ้ายสีหนุ่ม','จ่าหนึ่ง','บักโส']

In [ ]:
print_feelings('เจมส์',list_friends)

เจมส์ คิดถึง คุณหนูเบียร์
เจมส์ คิดถึง พ่อใหญ่เฟิร์ส
เจมส์ คิดถึง อ้ายสีหนุ่ม
เจมส์ คิดถึง จ่าหนึ่ง
เจมส์ คิดถึง บักโส

In [ ]:
print_feelings('เจมส์',list_friends,feeling='รัก')

เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ่เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม
เจมส์ รัก จ่าหนึ่ง
เจมส์ รัก บักโส

In [ ]:
print_feelings('เจมส์',list_friends,'รัก')

เจมส์ รัก คุณหนูเบียร์
เจมส์ รัก พ่อใหญ่เฟิร์ส
เจมส์ รัก อ้ายสีหนุ่ม
เจมส์ รัก จ่าหนึ่ง
เจมส์ รัก บักโส

จบ 24 มิย 67

##  HW3 เพิ่ม loop เข้าไปใน Quiz6  โดยวนลูปคำนวณวินาทีในโจทย์ต่อไปนี้

## Dictionary (Data Structure)

โครงสร้างข้อมูลที่จัดเก็บข้อมูลโดยการอ้างอิงโดย text

วงเล็บ ```{``` ```}``` Curly Brackets

In [ ]:
Ex_dict_A = {'memberA':[1,2,3],'memberB':8,'memberC':'abc'}

In [ ]:
Ex_dict_A

{'memberA': [1, 2, 3], 'memberB': 8, 'memberC': 'abc'}

In [ ]:
Ex_dict_A['memberA']

[1, 2, 3]

In [ ]:
Ex_dict_A['memberA'][1]

2

### looping in dict
#### ทำการวนลูปในค่า dict โดยที่เรากำหนดตัว key และvalueขึ้นมา ได้ดังนี้

In [ ]:
name_grade = {'พันทิพา' : 'B','ศุภนิตา' : 'C','ปนัดดา' : 'A','ทรงกลด' : 'F'}
name_grade

{'พันทิพา': 'B', 'ศุภนิตา': 'C', 'ปนัดดา': 'A', 'ทรงกลด': 'F'}

In [ ]:
name_grade['ปนัดดา']

'A'

In [ ]:
name_grade.keys()

dict_keys(['พันทิพา', 'ศุภนิตา', 'ปนัดดา', 'ทรงกลด'])

In [ ]:
name_grade.values()

dict_values(['B', 'C', 'A', 'F'])

In [ ]:
for i in name_grade.keys():
    print(i)

พันทิพา
ศุภนิตา
ปนัดดา
ทรงกลด

In [ ]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

พันทิพา ได้เกรด B
ศุภนิตา ได้เกรด C
ปนัดดา ได้เกรด A
ทรงกลด ได้เกรด F

## HW2 Example

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],
    ["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],
    ["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],
    ["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],
    ["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"]]

def time_to_second(time1,time2):
    time1_list = time1.split(':')
    time2_list = time2.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    time2_sec = int(time2_list[0])*3600 + int(time2_list[1])*60 + int(time2_list[2])
    return(time2_sec - time1_sec)

for time1,time2 in time_list:
  diff_seconds = time_to_second(time1,time2)
  print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds

In [ ]:
time1 = "18:09:10"
time2 = "00:25:10"
diff_seconds = time_to_second(time1,time2)
print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 00:25:10 is -63840 seconds

# Conditional statemet คือ ประโยคเงื่อนไข

ชนิดตัวแปรที่เกี่ยวข้อ Boolean (True,False)

In [ ]:
condition_1 = True
condition_2 = False

### การวนลูปโดยมีเงื่อนไขต่างๆมาเกี่ยวข้อง โดยมี pattern ดังนี้

```Python
if condition1 :
    do something
elif condition2 :  #elif คือ else if
    do another thing
else:
    do ...
```

## ==, !=,>=,<=,<,> Operator ของตัวเลข

In [ ]:
def time_to_second(time1):
    time1_list = time1.split(':')
    time1_sec = int(time1_list[0])*3600 + int(time1_list[1])*60 + int(time1_list[2])
    return time1_sec

In [ ]:
time_list =  [
    ["18:09:10", "18:25:10"],
    ["13:38:39", "23:54:39"],["16:49:58", "18:05:58"],
    ["21:49:10", "22:24:10"],["08:52:21", "09:25:21"],
    ["06:56:26", "07:49:26"],["12:08:05", "12:43:05"],
    ["01:48:38", "07:18:38"],["08:51:21", "10:17:21"],
    ["17:05:17", "18:09:17"],["18:51:21", "00:17:21"],
    ["17:05:17", "11:09:17"],]

In [ ]:
for time1,time2 in time_list:

    if time_to_second(time1) < time_to_second(time2): #ถ้า time1 น้อยกว่า time2
        diff_seconds = time_to_second(time2) - time_to_second(time1)
    else: #ถ้า time1 ไม่น้อยกว่า time2
        diff_seconds = (time_to_second(time2)+(24*60*60)) - time_to_second(time1)

    print(f"Time difference between {time1} - {time2} is {diff_seconds} seconds")

Time difference between 18:09:10 - 18:25:10 is 960 seconds
Time difference between 13:38:39 - 23:54:39 is 36960 seconds
Time difference between 16:49:58 - 18:05:58 is 4560 seconds
Time difference between 21:49:10 - 22:24:10 is 2100 seconds
Time difference between 08:52:21 - 09:25:21 is 1980 seconds
Time difference between 06:56:26 - 07:49:26 is 3180 seconds
Time difference between 12:08:05 - 12:43:05 is 2100 seconds
Time difference between 01:48:38 - 07:18:38 is 19800 seconds
Time difference between 08:51:21 - 10:17:21 is 5160 seconds
Time difference between 17:05:17 - 18:09:17 is 3840 seconds
Time difference between 18:51:21 - 00:17:21 is 19560 seconds
Time difference between 17:05:17 - 11:09:17 is 65040 seconds

# HW3 เพิ่ม ฟังก์ชั่นแปลงวินาทีกลับมาเป็น ชั่วโมง นาที วินาที โดยไม่ใช่ฟังก์ชั่นช่วยเหลืออื่นๆของ python (~~import~~) ถ้าส่วนของ ชั่วโมง นาที วินาที เป็นศูนย์ ไม่ต้องแสดง

In [1]:
def seconds_to_hms(seconds):
  """
  Converts seconds to hours, minutes, and seconds without using imports,
  only displaying non-zero components.

  Args:
    seconds: The total number of seconds.

  Returns:
    A string representing the time in hh:mm:ss format,
    with leading zero components omitted.
  """
  hours = seconds // 3600
  remaining_seconds = seconds % 3600
  minutes = remaining_seconds // 60
  seconds = remaining_seconds % 60

  time_parts = []
  if hours > 0:
    time_parts.append(f"{int(hours)} hours")
  if minutes > 0:
    time_parts.append(f"{int(minutes)} minutes")
  if seconds > 0:
    time_parts.append(f"{int(seconds)} seconds")

  if not time_parts:
    return "0 seconds"
  else:
    return ", ".join(time_parts)

# Example Usage:
print(seconds_to_hms(90652))
print(seconds_to_hms(43570))
print(seconds_to_hms(155102))
print(seconds_to_hms(3600))
print(seconds_to_hms(65))
print(seconds_to_hms(45))
print(seconds_to_hms(0))

25 hours, 10 minutes, 52 seconds
12 hours, 6 minutes, 10 seconds
43 hours, 5 minutes, 2 seconds
1 hours
1 minutes, 5 seconds
45 seconds
0 seconds

# HW 4
#### เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A)
#### วนลูปตัดเกรด input = [1,50,65,90,101,-5,49]

##### กำหนด
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0  แต่น้อยกว่า 50 จะได้เกรด F
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
      ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80  จะได้เกรด A
      แต่ว่าค่าคะแนนจะต้องไม่ต่ำกว่า 0 และมากกว่า 100 ไม่งั้นจะเกิด error

## ```&```, ```|```, ```in```, ```is```   :  Operator อื่นๆ

In [ ]:
if (1>0) & (0>-1):
    print(True & True)

True

In [ ]:
if 'T' in 'Thanapong':
    print('T in Thanapong')

T in Thanapong

In [ ]:
def return_nothing(x):
    x = x+1

In [ ]:
a = return_nothing(5)

In [ ]:
if a is None:
    print('x is null')

x is null

# Finish

In [ ]:
import datetime

def calculate_time_difference_with_default_day(time_str1, day1, time_str2, day2=None):
  """
  Calculates the time difference between two points in time,
  allowing for default day values if the times are on the same day.

  Args:
    time_str1: The first time string in "hh:mm:ss" format.
    day1: The day of the week for the first time (e.g., "Monday").
    time_str2: The second time string in "hh:mm:ss" format.
    day2: The day of the week for the second time (e.g., "Tuesday").
          Defaults to day1 if not provided.

  Returns:
    The time difference in seconds.
  """
  if day2 is None:
    day2 = day1

  # Create datetime objects for the two times
  # Need a base date to combine with the time for datetime object
  # We can use an arbitrary base date since we are only interested in the time difference
  base_date = datetime.date(2023, 1, 1)
  time1 = datetime.datetime.combine(base_date, datetime.datetime.strptime(time_str1, '%H:%M:%S').time())
  time2 = datetime.datetime.combine(base_date, datetime.datetime.strptime(time_str2, '%H:%M:%S').time())

  # Calculate the day difference
  days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
  day1_index = days_of_week.index(day1)
  day2_index = days_of_week.index(day2)
  day_difference = day2_index - day1_index

  # Adjust time2 if it's on a later day or wraps around the week
  if day_difference > 0:
    time2 += datetime.timedelta(days=day_difference)
  elif day_difference < 0:
      time2 += datetime.timedelta(days=(7 + day_difference))

  # Calculate the time difference
  time_diff = time2 - time1

  return time_diff.total_seconds()

# Example Usage:
print(calculate_time_difference_with_default_day("12:30:15", "Wednesday", "13:41:07", "Thursday"))
print(calculate_time_difference_with_default_day("12:53:15", "Monday", "00:59:25", "Tuesday"))
print(calculate_time_difference_with_default_day("16:06:09", "Sunday", "11:11:11", "Tuesday"))
print(calculate_time_difference_with_default_day("10:00:00", "Monday", "11:00:00")) # Same day, default day2

90652.0
43570.0
155102.0
3600.0